<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	<div id="high_prio_container_archive">
		<div class="overlay">
			<main>

			<div th:fragment="newcomment">

				<div id="placeholderNewComment"></div>

				<div class="row">
					<div class="col-md-offset-2 col-md-8 commentBox">
						<div class="row commentBoxHeading">
							<div class="col-md-6">
								<div class="commentBoxUser">
									<h4>
										Benutzer : <span th:text="${comment.usr.name}"></span>
									</h4>
								</div>
							</div>

							<div class="col-md-6">
								<div class="commentBoxDate">
									<h4>
										<span th:text="${comment.date}">Datum</span>
									</h4>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<p th:text="${comment.content}">Comment Content</p>
							</div>
						</div>
					</div>
				</div>

			</div>


			<div th:fragment="commentForm">
				<div class="row">
					<div class="col-md-12">

						<form data-toggle="validator" id="commentform" method="POST"
							onsubmit="submitCommentForm(); return false;">

							<div class="row">
								<div class="col-md-12">
									<div class="form-group" hidden="true">
										<label for="topicIdField">Topic-ID</label> <input type="text"
											class="form-control" id="topicIdField" placeholder="art-id"
											th:value="${mainArticle.topicID.topicID}" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div id="commentNameFormGroup" class="form-group has-feedback">
										<label for="nameField" class="control-label">Name</label>
										<div class="input-group">
											<input type="text" pattern="[_A-z0-9]{1,}" maxlength="15"
												data-minlength="3" class="form-control"
												id="commentNameField" placeholder="Name" required="required"
												data-match-error="Benutzername ist nicht valide!"
												th:disabled="${session.isEmpty() == false}? 'disabled'"
												th:value="${session.isEmpty() == false}? ${session.user.name}">
											</input> <span class="glyphicon form-control-feedback"
												aria-hidden="true" id="commentNameInputAddon"> </span>

											<div class="help-block with-errors"></div>
											<div id="commentNameErrorMessage"></div>

										</div>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-md-12">
									<div id="commentEmailFormGroup" class="form-group has-feedback">
										<label for="emailField" class="control-label">Email
											Addresse</label>
										<div class="input-group">

											<input type="email" class="form-control"
												id="commentEmailField" placeholder="E-Mail"
												required="required"
												data-error="Email-Adresse ist nicht valide!"
												th:disabled="${session.isEmpty() == false}? 'disabled'"
												th:value="${session.isEmpty() == false}? ${session.user.email}">
											</input> <span class="glyphicon form-control-feedback"
												aria-hidden="true" id="commentEmailInputAddon"> </span>

											<div class="help-block with-errors"></div>
											<div id="commentEmailErrorMessage"></div>

										</div>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-md-12">
									<div id="commentContentFormGroup"
										class="form-group has-feedback">
										<label for="commentField" class="control-label">Kommentar</label>
										<div class="input-group">

											<!-- data-pattern="[.,!?a-zA-Z]*" data-pattern-error="error_text" -->
											<textarea class="form-control" cols="20" data-error="error"
												name="commentField" placeholder="Hier Kommentar eingeben..."
												required="required" rows="5" id="commentTextArea"
												maxlength="200">
											</textarea>

											<span class="glyphicon form-control-feedback"
												aria-hidden="true" id="commentContentInputAddon"> </span>

											<div class="help-block with-errors"></div>
											<div id="commentContentErrorMessage"></div>

										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">

									<div class="form-group">
										<div class="button_area">
											<!-- DER BUTTON HATTE NOCH NE KLASSE "tf-btn". WOZU? -->
											<button type="submit" name="submit" class="btn btn-default"
												id="submitBtn">Kommentar absenden</button>

										</div>
									</div>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>





			</main>

		</div>
	</div>



</body>

</html>