/* BASIC STUFF*/
body, input, button, h1, h2, h3, h4, h5, h6, p, a, label, span {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: #000;
	font-weight: 400;
}

html {
	width: 100%;
	height: 100%;
}

header h1 {
	margin-top: 100px;
	padding: 20px;
	position: relative;
	/*background-color: rgba(180, 180, 180, 0.4);*/
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 60px;
}

header h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

.contentWithHeader p {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

/* SMALLER HEADING IN SMARTPHONE-MODE*/
@media ( max-width : 768px) {
	header h1 {
		font-size: 40px;
		margin-top: 65px;
	}
}

@media ( min-width : 768px) {
	p {
		margin: 0 0 35px;
		font-size: 20px;
		line-height: 1.6;
	}
}

.base-text {
	color: #FF7F00;
}

.light {
	font-weight: 400;
}

form>textarea {
	resize: vertical;
}

.input-group-addon {
	border-radius: 0
}

.input-group textarea {
	border-radius: 0
}

#input-group-textarea {
	display: block;
}

#collapseNewComment {
	background-color: rgba(0, 0, 0, 0.8);
	margin-top: 20px;
	padding: 20px;
}

#collapseNewComment .input-group {
	display: block;
}

#collapseNewComment .form-control {
	border-radius: 0;
	display: block;
}

/* BASIC STUFF END*/

/*BACKGROUND CONTAINER START*/
#high_prio_container {
	background: url(../img/index.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
}

#high_prio_container_contact {
	background: url(../img/contact.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
}

#high_prio_container_archive {
	background: url(../img/archive.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
}

.overlay {
	padding-top: 0.1px;
	padding-bottom: 100px;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0
		, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)),
		color-stop(35%, rgba(0, 0, 0, 0.66)),
		color-stop(62%, rgba(0, 0, 0, 0.55)),
		color-stop(100%, rgba(0, 0, 0, 0.4)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cc000000',
		endColorstr='#66000000', GradientType=0);
	/* IE6-9 */
	height: 100%;
	background-attachment: fixed;
}

/*BACKGROUND CONTAINER END*/

/* NAVBAR START*/
.navbar-custom {
	margin-bottom: 0;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #000;
}

.navbar-custom .navbar-brand {
	font-weight: 700;
}

/* wenn selektiert, dann keine border*/
.navbar-custom .navbar-brand:focus {
	outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}

.navbar-custom a {
	cursor: pointer;
}

#searchBoxFormGroup .input-group-btn {
	text-align: center;
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 10px 30px;
	color: white;
	border: none;
}

#searchFieldButton {
	color: white;
	border: none;
	font-size: 12px;
	padding: 0px;
	background: transparent;
}

/* THE TOGGLE BUTTON */
.navbar-header button {
	color: white;
}

.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active
	{
	outline: 0;
}

.navbar-custom a {
	color: #fff;
}

.navbar-custom .nav li a {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
	outline: 0;
	color: rgba(255, 255, 255, .8);
	background-color: transparent;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
}

.navbar-custom .nav li.active {
	outline: 0;
}

.navbar-custom .nav li.active a {
	background-color: rgba(217, 217, 217, 0.3);
}

.navbar-custom .nav li.active a:hover {
	color: #fff;
}

@media ( min-width : 768px) {
	.navbar-custom {
		padding: 20px 0;
		border-bottom: 0;
		letter-spacing: 1px;
		background: 0 0;
		-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
		transition: background .5s ease-in-out, padding .5s ease-in-out;
	}
	.navbar-custom.top-nav-collapse {
		padding: 0;
		border-bottom: 1px solid rgba(255, 255, 255, .3);
		background: #000;
	}
}

.search-bar-collapse {
	border-radius: 0;
	border: none;
}

/* CENTER THE NAVBAR */
.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.navbar .navbar-collapse {
	text-align: center;
}

.nav-bar-brand {
	position: absolute;
}

/* NAVBAR END*/
#page-header {
	position: relative;
	top: 60px;
	text-align: center;
}

.article_content {
	margin-top: 20px;
	padding: 20px;
	position: relative;
	background-color: rgba(180, 180, 180, 0.4);
}

#detailview_button_container {
	margin-top: 20px;
	padding: 20px;
	position: relative;
	background-color: rgba(180, 180, 180, 0.4);
}

/* format the recaptcha widget*/
@media screen and (max-height: 575px) {
	#rc-imageselect, .g-recaptcha {
		transform: scale(0.77);
		-webkit-transform: scale(0.77);
		transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
	}
}

#rc-imageselect, .rc-anchor {
	width: 100%;
	font-family: "Roboto";
	border-radius: 0;
	border: none;
	padding-top: 10 px;
	padding-bottom: 10 px;
}

/* ################################ */
/*                                  */
/*              ERROR               */
/*                                  */
/* ################################ */
#statusCode {
	text-align: center;
	font-family: "Roboto";
	font-weight: 300;
	font-size: 200pt;
}

#statusMessage {
	text-align: center;
	font-family: "Roboto";
	font-weight: 100;
	font-size: 40pt;
}

#errorBox a {
	width: 32em;
}

#errorBox .button_area {
	padding-bottom: 1em;
	padding-top: 4em;
}

/* ################################ */
/*                                  */
/*              IMPRESSUM 	        */
/*                                  */
/* ################################ */
#impressumBox .contentWithHeader p, #impressumBox .contentWithHeader h2
	{
	text-align: left;
}

#impressumBox.contentWithHeader a {
	color: white;
}

/* ################################ */
/*                                  */
/*                INDEX             */
/*                                  */
/* ################################ */

@media (max-width : 768px) {
	#index_scrollbtn_row {
visibility: hidden;	}
}

/*includes the header, tags, date, content and detailbutton*/
.contentBox {
	height: 170px;
	overflow: hidden;
	text-align: center;
}

.imgBox {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0;
	padding: 15px;
	color: white;
	border: none;
}

.imgElement {
	height: 300px;
}

.detailButtonIndex {
	padding-bottom: 10px;
}

.carousel-content .button_area {
	text-align: center;
	padding-bottom: 5 px
}

#startScrollButton {
	margin: 50px;
}

.btn-circle {
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid #fff;
	border-radius: 100% !important;
	font-size: 40px;
	color: #fff;
	background: 0 0;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.btn-circle:hover, .btn-circle:focus {
	outline: 0;
	color: #fff;
	background: rgba(255, 127, 0, .4);
}

.btn-circle i.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}

/* SET THE FIRST FOLD (PAGE)*/
#firstFold {
	height: 100vh;
}

/* SET THE FIRST FOLD (PAGE)*/
#secondFold {
	min-height: calc(100vh - 45px);
	/* 45px is the height of fixed header on the top */
	max-width: 100vw;
}

/*INDEX END*/

/* ################################ */
/*                                  */
/*              ARCHIVE             */
/*                                  */
/* ################################ */
.contentWithHeader {
	margin-top: 20px;
	padding: 20px;
	position: relative;
	background-color: rgba(180, 180, 180, 0.4);
	color: white;
}

#dateContainer input, #dateContainer .input-group-addon {
	border-radius: 0;
	border: none;
}

#dateContainer h3 {
	margin-left: 15px;
	font-family: 'Roboto Thin', sans-serif;
	letter-spacing: 0.3em;
	font-size: 30px;
}

#dateContainer label {
	margin-top: 15px;
	margin-bottom: 5px;
}

.article_content .article_date {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	text-align: center;
	font-size: 20 px;
	margin-bottom: 5px;
}

.article_content .article_tag {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	text-align: center;
	text-align: -webkit-center;
}

.article_content .article_header {
	font-size: 30px;
	text-align: center;
	text-align: -webkit-center;
	margin-bottom: 5px;
}

.article_tag {
	display: inline-block;
	background-color: #FF7F00;
	padding: 5px 20px 5px 20px;
	opacity: 0.6;
	color: black;
	margin-top: 5px;
	margin-bottom: 5px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
	margin-bottom: 5px;
}

.article_tag:hover, .article_tag:focus {
	outline: 0;
	background: rgba(0, 0, 0, 0.7);
	color: #FF7F00;
}

.article_tag a {
	color: black;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 15px;
	text-align: -webkit-center;
	text-align: center;
	border: none;
	font-family: "Roboto", sans-serif;
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
	margin-bottom: 5px;
}

.article_tag p {
	margin: 0px;
}

.article_tag a:hover, .article_tag a:focus {
	outline: 0;
	color: #FF7F00;
}

.tagBox {
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}

.popover {
	border-radius: 0;
	border: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
}

.popover-title {
	background-color: #FF7F00;
	opacity: 0.7;
	color: black;
	border-radius: 0;
	border: none;
}
/* ARCHIVE SITE END*/

/* ################################ */
/*                                  */
/*          CONTACT SITE            */
/*                                  */
/* ################################ */
#contactForm .input-group label {
	margin-top: 15px;
	margin-bottom: 5px;
}

#contactForm .input-group button {
	margin-top: 20px;
}

#contactForm a {
	color: white;
	font-style: normal;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
}

#linkPrivacy {
	margin-top: 10px;
	margin-bottom: 10px;
}

#linkPrivacy a {
	color: white;
}

#contact_leftbox {
	width: 100%;
}

]

/* CONTACT SITE END*/

/* ################################ */
/*                                  */
/*              REGISTER            */
/*                                  */
/* ################################ */

/* ################################ */
/*                                  */
/*         DETAILVIEW SITE          */
/*                                  */
/* ################################ */
.article_content h1 {
	top: 100px;
	margin-top: 15px;
	line-height: 0.7;
}

/* BUTTON AREA */
.button_area {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.big_button {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0;
	color: white;
	border: none;
	padding: -5;
	margin: 15px;
}

.big_button>button {
	border: none;
	background-color: transparent;
	padding: 5px;
}

.button_area>button {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0;
	padding: 10px 30px;
	color: white;
	border: none;
}

button:hover, button:focus {
	outline: 0;
	background: rgba(0, 0, 0, 0.7);
	color: #FF7F00;
}

.button_area>a {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0;
	padding: 10px 30px;
	color: white;
	border: none;
}

.detailViewMainButton button {
	width: 100%;
}

/* BRAUCHT MAN DAS FÜR DAS DETAILVIEW?!?!
.carousel-content .button_area {
	text-align: left;
}*/
.carousel-content>a {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0;
	padding: 20px 20px;
	color: white;
	border: none;
}

/* ALL THE STUFF FOR THE IMAGE CAROUSEL*/
.carousel-caption>p {
	font-size: 10px;
}

/* THE HEIGHT OF THE SLIDER */
.slider-size {
	height: 250px;
}

/* CENTER CAROUSEL IF OTHER THAN 100% */
.carousel {
	width: 100%;
	margin: 0 auto;
}

.carousel-caption {
	bottom: 20px;
	background: rgba(250, 250, 250, 0.5);
	padding: 8px;
}

/* THE BOX WITH LINKS TO THE NEWS SOURCES */
.linkBox {
	margin-top: 30px;
	padding: 5px;
	position: relative;
	background-color: rgba(180, 180, 180, 0.8);
	text-align: left;
	width: 100%;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
	-webkit-transition: background .3s ease-in-out;
}

/* the link to the article provider*/
#mainarticle_link {
	padding-top: 5px;
	padding-bottom: 5px;
}

#mainarticle_link a {
	color: #cfcfcf;
}

.linkBox a {
	color: black;
}

.linkBox:hover, .linkBox:focus {
	outline: 0;
	background: rgba(255, 127, 0, 0.9);
}

.linkBox i.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}

.whiteBackground {
	background-size: cover;
	background-color: white;
	opacity: 0.9;
	margin-top: 100px;
	padding: 30px 0px;
	color: black;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	margin-top: 100px;
}

.whiteBackground .row {
	padding: 15px;
}

#commentform label {
	margin-top: 20px;
	margin-bottom: 0px;
}

#commentsHeading {
	padding: 20px;
	text-align: center;
}

/* ################################ */
/*                                  */
/*      	  COMMENT BOX    	    */
/*                                  */
/* ################################ */
.commentBox {
	background-color: rgba(180, 180, 180, 0.4);
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
	margin-top: 20px;
}

.commentBoxUser h4 {
	text-align: left;
}

.commentBoxDate h4 {
	text-align: right;
}

.commentBoxHeading {
	color: black;
	background-color: rgba(180, 180, 180, 0.8);
}

/* END DETAILVIEW */
.form-group>input {
	border-radius: 0;
}

.form-group>textarea {
	border-radius: 0;
}

#submitBtn {
	background-color: rgba(180, 180, 180, 0.6);
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

#submitBtn:hover, .linkBox:focus {
	outline: 0;
	background: rgba(255, 127, 0, .7);
	color: white;
}

#submitBtn i.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}

}

/* ################################ */
/*                                  */
/*        START LOGIN-DIALOG        */
/*                                  */
/* ################################ */
.signin_button {
	background-color: #FF7F00;
	border-color: none;
	border-radius: 0;
}

.modal-dialog {
	top: 20px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

.modal_hidden {
	display: none;
}

.modal {
	color: black;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

.modal-footer, .modal-content, .modal-header {
	background-color: white;
	border-width: 0;
}

.modal-header {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
}

.modal-header h1 {
	margin-top: 20px;
	margin-botton: 20px;
}

/* LOGIN-DIALOG END*/
/* ################################ */
/*                                  */
/*              FOOTER              */
/*                                  */
/* ################################ */
footer {
	padding: 20px;
	border-top: 1px solid rgba(255, 255, 255, .3);
	background: #fffff;
	text-align: center
}

footer p, footer a {
	font-family: "Roboto Thin", sans-serif;
	color: #8c8c8c;
}

footer p {
	font-size: 12px;
	margin: 20px;
}

footer a {
	font-size: 10px;
}

.footer-social {
	padding: 10px;
}

.footer-social>li {
	display: inline-block;
}

.circleButtons {
	transition: all 0.5s;
	color: #8c8c8c;
}

.circleButtons>span>.fa:hover {
	color: white;
}

.circleButtons>span>.fa-content:hover {
	color: #FF7F00;
	transition: all 0.5s;
}

#footer_madewith .fa-stack-1x {
	position: relative;
}

#footer_madewith .fa {
	display: inline;
	color: #8c8c8c;
}

/* END FOOTER */

/* ################################ */
/*                                  */
/*          USER DASH BOARD         */
/*                                  */
/* ################################ */
.dashboard_boxtitle {
	background-color: rgba(180, 180, 180, 0.9);
	margin-top: 20px;
	padding: 15px;
	position: relative;
	color: black;
}

.dashboard_boxcontent {
	background-color: rgba(180, 180, 180, 0.4);
	margin-top: 0px;
	padding: 3px 15px 15px 15px;
	position: relative;
	color: white;
	padding: 3px 15px 15px 15px;
	font-size: initial;
}

.dashboard_boxcontent .button_area button {
	padding: 10px;
}

/* FOR THE FORM FIELDS*/
.errorFieldBackground {
	padding: 10px;
}

.help-block>ul>li {
	font-weight: 300;
	color: #ef2929;
}

#searchBoxFormGroup .errorFieldBackground {
	background-color: rgba(0, 0, 0, 0.4);
}

#detailview_mainArticleBox .col-md-8 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

#detailview_mainArticleBox .tagBox {
	text-align: left;
}

#detailview_mainArticleBox p {
	margin: 0px;
}

#detailview_mainArticleBox .item a {
	color: black;
}

#loginmodal_placeholder {
	margin-top: 20px;
	margin-bottom: 20px;
	animation: loginmodal_placeholder 2s linear 2s infinite alternate;
}

/* disable the box in the login modal while validating the input */
.disabledBox {
	pointer-events: none;
	opacity: 0.4;
}




/* Row with equal height columns */
/* NOT IN SMARTPHONE VIEW*/
@media ( min-width : 768px) {
	.row-eq-height {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.row-eq-height [class*="col-"] {
		display: flex;
	}
}

/* ################################ */
/*                                  */
/*           NO SCRIPT PAGE         */
/*                                  */
/* ################################ */
#noScriptBanner, #noScriptBanner_cookies {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 10px;
	z-index: 9999;
	text-align: center;
	padding-top: 30px;
}

#noScriptBanner p, #noScriptBanner_cookies p {
	color: red;
}

#noScriptBanner h1, #noScriptBanner_cookies h1 {
	color: red;
	margin-top: 50px;
	margin-bottom: 50px;
}

/* default is hide the banner*/
#noScriptBanner_cookies {
	display: none;
}

/* ################################ */
/*                                  */
/*       COOKIE DISCLAIMER          */
/*                                  */
/* ################################ */
.cc_banner-wrapper .cc_container .cc_btn, .cc_banner-wrapper  .cc_container .cc_btn:visited
	{
	color: #000;
	background-color: #FF7F00;
	border-radius: 0;
}

.cc_banner-wrapper .cc_container {
	background: white;
	opacity: 0.9;
	color: #2e3436;
	font-size: 17px;
	font-family: "Roboto";
	font-weight: 300;
}

.cc_banner-wrapper .cc_container .cc_btn:hover, .cc_banner-wrapper .cc_container .cc_btn:active
	{
	background-color: rgba(0, 0, 0, 0.8) !important;
	color: #FF7F00 !important;
}

/* ################################ */
/*                                  */
/*              RECAPTHA            */
/*                                  */
/* ################################ */
.recaptcha-wrap {
	position: relative;
	height: 76px;
	background: #f9f9f9; > div { position : absolute;
	bottom: 2px;
	right: 2px;
	font-size: 10px;
	color: #ccc;
}

}
/ /*Hides top border*/
.recaptcha-wrap:after {
	content: '';
	display: block;
	background-color: #f9f9f9;
	height: 4px;
	width: 100%;
	top: -2px;
	left: 0px;
	position: absolute;
}

/*Hides left border*/
.recaptcha-wrap:before {
	content: '';
	display: block;
	background-color: #f9f9f9;
	height: 100%;
	width: 2px;
	top: 0;
	left: -1px;
	position: absolute;
	z-index: 1;
}

/* Makes it responsive & hides cut-off elements */
.g-recaptcha {
	overflow: hidden;
	height: 76px;
	border-right: 65px solid #f9f9f9;
	border-top: 0px solid #f9f9f9;
	border-bottom: 15px solid #f9f9f9;
	position: relative;
	box-sizing: border-box;
	max-width: 294px;
}