<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: headFragment">

<title id="pageTitle">NewsCluster - Themendetails</title>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	<header>

		<div th:replace="fragments/dialog :: login">The Login</div>
		<div th:replace="fragments/dialog :: cookieDisabled">The
			CookieDisabled Modal</div>
		<div th:replace="fragments/navbar :: navbar">The Navbar</div>

	</header>

	<div id="high_prio_container">
		<div class="overlay">

			<main>

			<div class="container">

				<div class="row">
					<div class="col-md-12">
						<header>
							<h1 th:text="${mainArticle.headLine}">
								Header <br></br> <small th:date="${mainArticle.date}">Sonntag,
									17.04.2016 </small>
							</h1>
						</header>
					</div>
				</div>

				<div class="row">
					<div id="detailview_mainArticleBox">
						<!-- IMAGE CAROUSEL -->
						<div class="col-md-4">
							<div class="article_content">
								<div id="myCarousel" class="carousel slide" data-ride="carousel">

									<!-- WRAPPER FOR SLIDES -->
									<div class="carousel-inner" role="listbox">
										<div class="item active" th:each="imgArticle : ${articles}"
											th:class="${imgArticleStat.first} ? 'item active' : 'item'">

											<div
												th:style="'background:url(' + ${imgArticle.img.path} + ');'"
												style="background: url(http://images.derstandard.at/t/12/2016/04/16/APO-AssadArtikelbild.jpg) center center; background-size: cover;"
												class="slider-size">
												<div class="carousel-caption">

													<a th:href="${imgArticle.link.link}"><span
														th:text="${imgArticle.link.provider}"></span></a>
												</div>
											</div>
										</div>


									</div>
								</div>
							</div>
						</div>
						<!-- END IMAGES -->

						<div class="col-md-8">
							<article class="article_content">

								<div class="row ">
									<div class="col-md-12">


										<article>
											<p th:text="${mainArticle.content}">Die syrischen
												Regierungsgegner haben eine von der UNO vorgeschlagene
												Übergangsregierung unter Beibehaltung von Bashar al-Assad
												als Staatschef abgelehnt [...]</p>
											<div id="mainarticle_link">
												<a th:href="${mainArticle.link.link}"><i
													class="fa fa-external-link-square"></i> mehr bei <span
													th:text="${mainArticle.link.provider}"></span></a>
											</div>
										</article>

									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="tagBox">
											<a th:href="@{/search=}+${artTag.tag}" class="article_tag"
												th:each="artTag : ${tagList}"> <small
												th:text="${artTag.tag}">Schlagwort</small>
											</a>
										</div>
									</div>
								</div>





							</article>
							<!-- END ARTICLE CONTENT -->
						</div>
						<!-- END ARTICLE COL -->
					</div>
					<!-- END ROW -->
				</div>
			</div>
			<!-- END CONTAINER -->

			<div class="container">
				<div id="detailview_button_container">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-eq-height">
								<div class="col-md-3">
									<div class="detailViewMainButton">


										<div
											th:attr="data-toggle=${session.isEmpty() == true} ? 'popover'"
											data-content="Melde dich an um Themen abonnieren zu können!"
											data-placement="bottom" data-trigger="focus"
											title="Login nötig!">
											<div class="button_area">
												<button id="followButton"
													th:attr="onclick=${session.isEmpty() == false} ? 'followTopic();'">
													abonnieren
													<!--  -->
												</button>
											</div>
										</div>
									</div>

								</div>

								<div class="col-md-3">
									<div class="detailViewMainButton">
										<a th:href="${fbshare.value}">
											<div class="button_area">
												<button>auf Facebook teilen</button>
											</div>
										</a>
									</div>
								</div>

								<div class="col-md-3">
									<div class="detailViewMainButton">

										<div
											th:attr="data-toggle=${session.isEmpty() == true} ? 'popover'"
											data-content="Melde dich an um Themen kommentieren zu können!"
											data-placement="bottom" data-trigger="focus"
											title="Login nötig!">

											<div th:if="${session.isEmpty() == true}">
												<div class="button_area">
													<button>kommentieren</button>
												</div>
											</div>

											<div th:if="${session.isEmpty() == false}">
												<a href="#commentsHeading" data-toggle="collapse"
													data-target="#collapseNewComment">
													<div class="button_area">
														<button>kommentieren</button>
													</div>
												</a>
											</div>

										</div>

									</div>
								</div>

								<div class="col-md-3">
									<div class="detailViewMainButton">

										<div class="button_area">
											<button id="simTopics">ähnliche Themen</button>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>


			<!-- SPECIAL CONTAINER FOR WHITE BACKGROUND-->
			<div class="whiteBackground">
				<div class="container">

					<div>

						<h3>Informieren Sie sich näher bei folgenden Anbietern</h3>

					</div>

					<div
						th:each="articleChunks : ${T(com.google.common.collect.Lists).partition(articles, 3)}"
						class="row row-eq-height">

						<div class="col-md-4 col-xs-6" th:each="link : ${articleChunks}">
							<div class="linkBox">

								<a th:href="${link.link.link}">
									<h5 th:text="${link.link.provider}">spiegelonline.de</h5>
									<h4 th:text="${link.headLine}">Titel bei Anbieter</h4>
								</a>
							</div>
						</div>


					</div>
				</div>

			</div>



			<!-- ################################### --> 
			<!--         KOMMENTAR BEREICH           -->
			<!-- ################################### -->


			<div class="container">
				<!-- COMMENTS -->
				<div class="row">
					<div class="col-md-12">
						<div id="commentsHeading">
							<h3>Kommentare</h3>
						</div>
					</div>
				</div>

				<!-- ADD OWN COMMENT-->
				<div class="row">
					<div class="col-md-6 col-md-offset-3">



						<div class="button_area">
							<button th:if="${session.isEmpty() == true}" type="button"
								th:attr="data-toggle=${session.isEmpty() == true} ? 'popover'"
								data-content="Melde dich an um Themen kommentieren zu können!"
								data-placement="bottom" data-trigger="focus"
								title="Login nötig!">kommentieren</button>

							<button th:if="${session.isEmpty() == false}" type="button"
								class="btn btn-default toggle" role="button"
								data-toggle="collapse" data-target="#collapseNewComment"
								id="collapseCommentForm">
								<a href="#collapseNewComment"></a>neuer Kommentar
							</button>

						</div>
					</div>

				</div>
			</div>


			<div id="collapseNewComment" class="collapse">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div>


								<div th:replace="fragments/comments :: commentForm"></div>


							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- ################################### --> 
			<!--                                     -->
			<!--           ALTE KOMMENTARE           --> 
			<!--                                     -->
			<!-- ################################### -->

			<div class="container">
				<div id="placeholderNewComment"></div>

				<div class="row" th:each="comment : ${comments}">
					<div class="col-md-offset-2 col-md-8 commentBox">


						<div class="row commentBoxHeading">
							<div class="col-md-6">
								<div class="commentBoxUser">
									<h4>
										Benutzer : <span th:text="${comment.usr.name}"></span>
									</h4>
								</div>
							</div>

							<div class="col-md-6">
								<div class="commentBoxDate">
									<h4>
										<span
											th:text="${#dates.format(comment.date, 'HH:mm : dd.MM.yyyy')}">Datum</span>
									</h4>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<p th:text="${comment.content}">Comment Content</p>
							</div>
						</div>



					</div>
				</div>
			</div>
			</main>

		</div>
	</div>



	<div th:replace="fragments/footer :: footer">2014 The Static
		Templates</div>


</body>
</html>