<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: headFragment">

<title id="pageTitle">NewsCluster - Error</title>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	<header>

		<div th:replace="fragments/dialog :: login">The Login</div>
		<div th:replace="fragments/dialog :: cookieDisabled">The
			CookieDisabled Modal</div>
		<div th:replace="fragments/navbar :: navbar">The Navbar</div>

	</header>

	<div id="high_prio_container_archive">
		<div class="overlay">
			<main>
			<div class="container">
				<div class="row">

					<div class="col-md-12">
						<header>
							<h1>Ups...</h1>
						</header>
					</div>

				</div>

				<div class="row ">
					<div class="col-md-12">
						<div class="contentWithHeader" id="errorBox">


							<div th:if="${status}">

								<h1 th:text="${status}" id="statusCode">status-code</h1>

								<h1 th:if="${error}" th:text="${error}" id="statusMessage">error
									message</h1>

								<div class="button_area">

									<a class="btn btn-large btn-info" href="index.html">
										zurück zur Startseite </a>
								</div>

							</div>
						</div>
					</div>
				</div>





				<div class="row" hidden="hidden">
					<div class="col-md-12">
						<div class="contentWithHeader">

							<div th:if="${status}">

								<h3>Debug Info</h3>

								<!-- ${exception} or ${message} are set internally by Spring Boot. */-->
								<div
									th:if="${exception} or (${message} and ${message.length() != 0})">
									<h5 th:if="${ex}" th:text="${ex}">exception...</h5> <h5
										th:if="${exception}" th:text="${exception}">exception...</h5>
									<h5 th:if="${message} and ${message.length() != 0}"
										th:text="${message}">message ...</h5>
								</div>

								<h5
									th:unless="${ex} or ${exception} or (${message} and ${message.length() != 0})">
									Cause unknown (no exception details available)</h5>

							</div>

						</div>
					</div>
				</div>


			</div>

			</main>
		</div>
	</div>



	<div th:replace="fragments/footer :: footer">footer</div>
</body>
</html>