<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: headFragment">

<title id="pageTitle">NewsCluster - Home</title>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	<header>
		<div th:replace="fragments/dialog :: login">The Login</div>
		<div th:replace="fragments/dialog :: cookieDisabled">The
			CookieDisabled Modal</div>
		<div th:replace="fragments/navbar :: navbar">The Navbar</div>
	</header>

	<div id="high_prio_container">
		<div class="overlay">


			<section id="firstFold">
				<!-- Top Article -->

				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<header>
								<h1>News</h1>
							</header>
						</div>
					</div>

					<!--  Article content -->
					<div id="carousel-next" class="carousel slide contentWithHeader"
						data-ride="carousel">
						<!-- Wrapper for slides -->
						<div class="row">
							<div class="col-xs-offset-2 col-xs-8">
								<div class="carousel-inner">

									<div class="item" th:each="highprioart : ${highPrioArticles}"
										th:class="${highprioartStat.first} ? 'item active' : 'item'">
										<article class="carousel-content">

											<div class="row">
												<div class="col-md-12">

													<div class="headerBox">
														<h3 class="article_header"
															th:text="${highprioart.headLine}"></h3>
													</div>

												</div>
											</div>

											<div class="row">
												<div class="col-md-12">
													<div class="tagBox">
														<a th:each="artTag : ${highprioart.getTagList()}"
															th:href="@{/search=}+${artTag}" class="article_tag">
															<p>
																<small th:text="${artTag}"></small>
															</p>
														</a>
													</div>
												</div>
											</div>


											<div class="row">
												<div class="col-md-12">
													<div class="contentBox">
														<p th:text="${highprioart.content}"></p>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12">
													<div class="detailButtonIndex">
														<div class="button_area">
															<a class="btn btn-large btn-info" href="detailview.html"
																th:href="'/detail_req=' + ${highprioart.topicID.topicID}">
																Details </a>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12">
													<div class="imgBox">
														<div
															th:style="'background:url(' + ${highprioart.img.path} + ');'"
															style="background: url(http://images.derstandard.at/t/12/2016/04/16/APO-AssadArtikelbild.jpg) center center; background-size: cover;"
															class="imgElement"></div>
													</div>
												</div>
											</div>


										</article>
									</div>
									<!-- END ITEM  -->

								</div>
							</div>

							<div>
								<!-- Controls -->
								<a class="left carousel-control" href="#carousel-next"
									data-slide="prev"> <span
									class="glyphicon glyphicon-chevron-left"></span>
								</a> <a class="right carousel-control" href="#carousel-next"
									data-slide="next"> <span
									class="glyphicon glyphicon-chevron-right"></span>
								</a>
							</div>
						</div>

						<!-- END CAROUSEL -->
					</div>

					<div class="row" id="index_scrollbtn_row">
						<div class="col-md-12">
							<div class="button_area">
								<div id="startScrollButton">
									<a id="scrollCircle" href="#secondFold"
										class="btn btn-circle page-scroll"> <i
										class="fa fa-angle-double-down animated"></i>
									</a>
								</div>

							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- END FIRST FOLD -->



			<!-- ############################### -->
			<!-- 								 -->
			<!--   N RANDOM ARTIKEL DES TAGES	 -->
			<!-- 								 -->
			<!-- ############################### -->



			<section id="secondFold">
				<div class="container">

					<div
						th:each="midPrioChunks : ${T(com.google.common.collect.Lists).partition(midPrioArticles,3)}"
						class="row">
						<div th:each="art : ${midPrioChunks}" class="col-md-4 col-xs-12">
							<article class="article_content">

								<p class="article_date" th:text="${art.getDateString()}"></p>
								<p class="article_header" th:text="${art.headLine}"></p>

								<div class="tagBox">
									<a th:href="@{/search=}+${artTag}" class="article_tag"
										th:each="artTag : ${art.getTagList()}"> <small
										th:text="${artTag}">Schlagwort</small>
									</a>
								</div>

								<div class="button_area">
									<a class="btn btn-large btn-info" href="detailview.html"
										th:href="'/detail_req=' + ${art.topicID.topicID}"> Details
									</a>
								</div>
							</article>

						</div>
					</div>



				</div>
			</section>
			<!-- END SECOND FOLD -->
		</div>
	</div>

	<div th:replace="fragments/footer :: footer">2014 The Static
		Templates</div>


</body>
</html>