<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: headFragment">

<title id="pageTitle">NewsCluster - Suchergebnisse</title>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">



	<header>

		<div th:replace="fragments/dialog :: login">The Login</div>
		<div th:replace="fragments/dialog :: cookieDisabled">The
			CookieDisabled Modal</div>
		<div th:replace="fragments/navbar :: navbar">The Navbar</div>

	</header>

	<div id="high_prio_container">
		<div class="overlay">
			<div class="container" id="oldNews">
				<div class="row">
					<div class="col-md-12">
						<header>
							<h1>Suchergebnisse</h1>
						</header>
					</div>
				</div>

				<div th:if="${#lists.isEmpty(searchResultArticles)}">

					<script type="text/JavaScript">
						var count = 9;
						var redirect = "/";

						function countDown() {
							var timer = document.getElementById("timer");

							if (count > 0) {
								count--;
								timer.innerHTML = "Sie werden in "
										+ count
										+ " Sekunden auf die Startseite weitergeleitet...";
								setTimeout("countDown()", 1000);
							}

							else {
								window.location.href = redirect;
							}
						}
					</script>

					<div class="row">
						<div class="col-md-12">
							<div class="contentWithHeader">

								<h2>Leider konnten keine Treffer für Ihre Suche gefunden
									werden!</h2>
								<br></br>
								<h5 id="timer">

									<script type="text/javascript">
										countDown();
									</script>

								</h5>
								<br></br>
								<div class="button_area">

									<a class="btn btn-large btn-info" href="index.html"> zurück
										zur Startseite </a>
								</div>



							</div>
						</div>
					</div>
				</div>

				<div th:if="${not #lists.isEmpty(searchResultArticles)}">

					<div
						th:each="artChunks : ${T(com.google.common.collect.Lists).partition(searchResultArticles,3)}"
						class="row row-eq-height">
						<div th:each="art : ${artChunks}" class="col-md-4 col-xs-12">
							<div class="article_content">
								<p class="article_date" th:date="${art.date}"></p>
								<p class="article_header" th:text="${art.headLine}"></p>

								<div class="tagBox">
									<a th:href="@{/search=}+${artTag}" class="article_tag"
										th:each="artTag : ${art.getTagList()}"> <small
										th:text="${artTag}">Schlagwort</small>
									</a>
								</div>


								<div class="button_area">
									<a class="btn btn-large btn-info" href="detailview.html"
										th:href="'/detail_req=' + ${art.topicID.topicID}"> Details
									</a>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>



	<div th:replace="fragments/footer :: footer">2014 The Static
		Templates</div>
</body>
</html>