<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: headFragment">

<title id="pageTitle">NewsCluster - Registrierung</title>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	<header>

		<div th:replace="fragments/dialog :: login">The Login</div>
		<div th:replace="fragments/dialog :: cookieDisabled">The
			CookieDisabled Modal</div>
		<div th:replace="fragments/navbar :: navbar">The Navbar</div>

	</header>

	<script type="text/JavaScript">
		var count = 6;
		var redirect = "/";

		function countDown() {
			var timer = document.getElementById("timer");
			
			if (count > 0) {
				count--;
				timer.innerHTML = "Sie werden in " + count + " Sekunden weitergeleitet...";
				setTimeout("countDown()", 1000);
			} else {
				window.location.href = redirect;
			}
			
	</script>

	<div id="high_prio_container">
		<div class="overlay">

			<main>

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<header>
							<h1 th:text="${regmsg.regMessage}"></h1>
							<h6 id="timer">
								<script type="text/javascript">
									countDown();
								</script>
							</h6>

						</header>
					</div>
				</div>


				<h6 id="timer">
					<script type="text/javascript">
								countDown();
							</script>
				</h6>

				<div class="button_area">

					<a class="btn btn-large btn-info" href="index.html"> zurück zur
						Startseite </a>
				</div>

			</div>

			</main>

		</div>
	</div>



	<div th:replace="fragments/footer :: footer">2014 The Static
		Templates</div>
</body>
</html>