<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: headFragment">

<title id="pageTitle">NewsCluster - Dashboard</title>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	<header>

		<div th:replace="fragments/dialog :: login">The Login</div>
		<div th:replace="fragments/dialog :: cookieDisabled">The
			CookieDisabled Modal</div>
		<div th:replace="fragments/navbar :: navbar">The Navbar</div>

	</header>

	<div id="high_prio_container_contact">
		<div class="overlay">

			<main>

			<div class="container">

				<div class="row">
					<div class="col-md-12">

						<header>
							<h1>Login</h1>
						</header>

					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="contentWithHeader">
							<p th:text="${loginmsg.msg}">messageStatus</p>

							<!-- status=0 -->
							<div th:if="${loginmsg.status}" class="button_area">

								<a class="btn btn-large btn-info" href="index.html"> zurück
									zur Startseite </a>
							</div>

						</div>
					</div>
				</div>

				<div th:if="${loginmsg.status == 0}">

					<div class="row">
						<div class="col-md-6">
							<div class="dashboard_boxtitle">
								<h4>Persönliche Daten</h4>
							</div>

							<div class="dashboard_boxcontent">
								<p>
									Name: <span th:text="${session.user.name}"></span>
								</p>

								<p>
									E-Mail: <span th:text="${session.user.email}"></span>
								</p>

								<a href="/edituserdata">
									<div class="button_area">
										<button>Persönliche Daten ändern</button>
									</div>
								</a>

							</div>
						</div>


						<div class="col-md-6">

							<div class="dashboard_boxtitle">
								<h4>Statistik</h4>
							</div>

							<div class="dashboard_boxcontent">

								<p>Hier wollten wir Statistiken der Session anzeigen!</p>
								<p>Leider hat das nicht geklappt, deswegen ist diese Box als Platzhalter anzusehen</p>
								<div class="button_area">
									<button type="button" class="btn btn-default toggle"
										role="button" data-toggle="collapse" 
										data-target="#userdashboard_bugInfo">
										Entwickler-Infos
									</button>
								</div>
								
								<div class="collapse" id="userdashboard_bugInfo">
									<p>
										Das Datenformat, das die HTTP-Session zurückliefert ist ein
										long als timestamp. Diesen konnten wir nicht formatieren, da
										der Aufruf unserer statischen Methode nicht funktioniert hat.
										Siehe folgenden Code: <br></br> Letzer Login:
										<code>
											th:text="${T(de.newscluster.controller.helper.<br></br>UserManager).getDateStringFromMillis(<br></br>#httpSession.lastAccessedTime)}"
										</code>
										<br></br> Session erstellt:
										<code>th:text="${#httpSession.creationTime}"</code>
										<br></br> Session endet:
										<code>th:text="${#httpSession.maxInactiveInterval}"</code>
									</p>
								</div>
							</div>


						</div>
					</div>

					<div class="row">
						<div class="col-md-6">

							<div class="dashboard_boxtitle">
								<h4>Abonnierte Themen</h4>
							</div>


							<div class="dashboard_boxcontent">

								<div th:if="${#lists.isEmpty(topicList)}">

									<p>Noch keine Feeds abonniert!</p>

								</div>

								<div th:if="${not #lists.isEmpty(topicList)}">
									<div th:each="topicEntry : ${topicList}" class="row">
										<div class="col-md-8">

											<p th:text="${topicEntry.topic}"></p>

										</div>
										<div class="col-md-4">
											<div class="button_area">
												<button
													th:onclick="'deleteFeed(' + ${topicEntry.topicID} + ', ' + ${session.user.usrID} + ');'">
													Feed löschen</button>
											</div>
										</div>
										<br></br>
									</div>
								</div>
							</div>
						</div>


					</div>


				</div>
			</div>
			</main>

		</div>
	</div>



	<div th:replace="fragments/footer :: footer">2014 The Static
		Templates</div>


</body>
</html>